<div class="container mt-5 mb-5">
    <div class="name"><h4>Zaplanowano wizytę</h4></div>

    <table id="sailorTable" class="table table-striped table-bordered" width="80%">
        <thead>
        <tr>
            <th>Specjalista: {{wizyta.lekarz.imie}} {{wizyta.lekarz.nazwisko}}</th>
            <th>Numer wizyty: {{wizyta.id}}</th>
            <th>Data wizyty: {{wizyta.dataWizytyOd}} </th>
        </tr>
        </thead>
        <a class="nav-link" href="moje-wizyty">Przejdź do moich wizyt</a>
        <tbody>
    </table>

</div>
