harmonogram as json:
{{harmonogram | json}}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <table class="timetable table table-striped ">
                    <tr>
                        <td>&nbsp;</td>
                        <td *ngFor="let day of dayCollection">{{day}}</td>
                    </tr>
                    <tr *ngFor="let minute of minuteCollection">
                        <td>{{getMinutesAsHours(minute)}}</td>
                        <td *ngFor="let day of dayCollection; let dayIndex = index">
                            <a href="">{{getDayInfo(dayIndex + 1, minute)?.gabinet}}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
