harmonogram as json <br>:
{{harmonogram}}



<div class="content">
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <table class="timetable table table-striped ">
                    <thead>
                    <tr class="text-center">
                        <th scope="col"></th>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednesday</th>
                        <th scope="col">Thursday</th>
                        <th scope="col">Friday</th>
                        <th scope="col">Saturday</th>
                        <th scope="col">Sunday</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">06:00 Am - 07:00 Am</th>
                        <td></td>
                        <td></td>
                        <td class="timetable-workout">30 MINUTES
                            <br> 12:35 pm - 01:05 pm</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">07:00 Am - 08:00 Am</th>
                        <td></td>
                        <td></td>
                        <td class="timetable-workout">Classes Name</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">08:00 Am - 09:00 Am</th>
                        <td class="timetable-workout">30 MINUTES
                            <br> 12:35 pm - 01:05 pm</td>
                        <td class="timetable-workout">30 MINUTES
                            <br> 12:35 pm - 01:05 pm</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">09:00 Am - 10:00 Am</th>
                        <td class="timetable-workout">Classes Name</td>
                        <td class="timetable-workout">Classes Name</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">10:00 Am - 11:00 Am</th>
                        <td></td>
                        <td class="timetable-workout">30 MINUTES
                            <br> 12:35 pm - 01:05 pm</td>
                        <td></td>
                        <td class="timetable-workout">30 MINUTES
                            <br> 12:35 pm - 01:05 pm</td>
                        <td class="timetable-workout">30 MINUTES
                            <br> 12:35 pm - 01:05 pm</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">11:00 Am - 12:00 Am</th>
                        <td></td>
                        <td class="timetable-workout">Classes Name</td>
                        <td></td>
                        <td class="timetable-workout">Classes Name</td>
                        <td class="timetable-workout">Classes Name</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">12:00 Am - 01:00 Am</th>
                        <td class="timetable-workout">30 MINUTES
                            <br> 12:35 pm - 01:05 pm</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">01:00 Am - 02:00 Am</th>
                        <td class="timetable-workout">Classes Name</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">02:00 Am - 03:00 Am</th>
                        <td class="timetable-workout">30 MINUTES
                            <br> 12:35 pm - 01:05 pm</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="timetable-workout">30 MINUTES
                            <br> 12:35 pm - 01:05 pm</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">03:00 Am - 04:00 Am</th>
                        <td class="timetable-workout">Classes Name</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="timetable-workout">Classes Name</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">04:00 Am - 05:00 Am</th>
                        <td></td>
                        <td></td>
                        <td class="timetable-workout">30 MINUTES
                            <br> 12:35 pm - 01:05 pm</td>
                        <td class="timetable-workout">30 MINUTES
                            <br> 12:35 pm - 01:05 pm</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">05:00 Am - 06:00 Am</th>
                        <td></td>
                        <td></td>
                        <td class="timetable-workout">Classes Name</td>
                        <td class="timetable-workout">Classes Name</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">06:00 Am - 07:00 Am</th>
                        <td></td>
                        <td class="timetable-workout">30 MINUTES
                            <br> 12:35 pm - 01:05 pm
                            <br>Classes Name</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- timetable -->
        </div>
    </div>
</div>

