#sailorTableArea{
    max-height: 400px;
    overflow-x: auto;
    overflow-y: auto;
}
#sailorTable{
    white-space: pre-line;
}
tbody {
    display:block;
    height:270px;
    overflow: fragments;
}
thead, tbody tr {
    display:table;
    width: 70%;
    table-layout:fixed;
}
test{
    content: 'open-quote';
}


