<br/>
<br/>
<br/>
<div class="table-responsive" id="sailorTableArea">
    <table id="sailorTable" class="table table-striped table-bordered" width="100%">

        <thead>
        <tr>
            <th>Imie lekarza</th>
            <th>Nazwisko lekarza</th>
            <th>Identyfikator</th>
            <th>Specjalizacja</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let lekarz of lekarzCollection">
            <td>{{lekarz.imie}}</td>
            <td>{{lekarz.nazwisko}}</td>
            <td>{{lekarz.numer}}</td>
            <td>
                <div *ngFor="let specjalizacja of lekarz.specjalizacjaCollection">
                    {{specjalizacja.nazwa}} - doświadczenie: ({{getExperienceInYears(specjalizacja.rokUzyskaniaDyplomuZeSpecjalizacji)}})
                </div>
            </td>
            <td>
                <div>
                    <a href="planowanie-wizyty">Umów mnie na wizytę</a>
                </div>
            </td>
        </tr>
    </table>
</div>
