<form action="action_page.php">
    <div class="container">
        <h1>Logowanie</h1>
        <hr>


        <div class="col-sm-9">
            <label for="email"><b>Email</b></label>
            <input type="email" id="email"class="form-control" name="email">
        </div>

        <div class="col-sm-9">
            <label for="haslo"><b>Hasło</b></label>
            <input type="haslo" id="haslo"class="form-control" name="haslo">
        </div>

        <button type="submit" class="registerbtn">Zaloguj się</button>
    </div>
</form>

