<form [formGroup]="loginForm" (submit)="onLogin()">
    <div class="container">
        <h1>Witaj ponownie!</h1>
        <hr>

        <div class="col-sm-5">
            <label for="email"><b>E-mail</b></label>
            <input type="email" id="email" class="form-control" formControlName="email">
        </div>

        <div class="col-sm-5">
            <label for="haslo"><b>Hasło</b></label>
            <input type="haslo" id="haslo" class="form-control" type="password" formControlName="haslo">
        </div>
        <div class="col-sm-5" style="text-align: center">
            <button type="button" class="btn btn-primary" (click)="onLogin()">Zaloguj się</button>
        </div>
        <div class="col-sm-5">
            Jeśli nie masz jeszcze konta kliknij <a href="rejestracja">zarejestruj</a>.
        </div>
    </div>
</form>

