<form action="action_page.php">
    <div class="container">
        <h1>Rejestracja</h1>
        <p>Prosze uzupełnić podane niżej pola w celu rejestracji wizyty.</p>
        <hr>

        <div class="col-sm-9">
            <label for="pesel"><b>PESEL</b></label>
            <input type="pesel" id="pesel" class="form-control" name="pesel">
        </div>

        <div class="col-sm-9">
            <label for="imie"><b>Imie</b></label>
            <input type="imie" id="imie" class="form-control" name="imie">
        </div>

        <div class="col-sm-9">
            <label for="nazwisko"><b>Nazwisko</b></label>
            <input type="nazwisko" id="nazwisko" class="form-control" name="nazwisko">
        </div>

        <div class="col-sm-9">
            <label for="AdresZamieszkania"><b>Adres zamieszkania</b></label>
            <input type="AdresZamieszkania" id="adresZamieszkania" class="form-control" name="email">
        </div>

        <div class="col-sm-9">
            <label for="dataUrodzenia"><b>Data urodzenia</b></label>
            <input type="date" id="dataUrodzenia" class="form-control">
        </div>

        <div class="col-sm-9">
            <label for="email"><b>Email</b></label>
            <input type="email" id="email"class="form-control" name="email">
        </div>

        <div class="col-sm-9">
            <label for="haslo"><b>Hasło</b></label>
            <input type="haslo" id="haslo"class="form-control" name="haslo" type="password">
        </div>

        <div class="col-sm-9">
            <label for="PotwierdzHasło"><b>Potwierdz hasło</b></label>
            <input type="PotwierdzHasło" id="PotwierdzHasło" class="form-control" name="email" type="password">
        </div>

        <div class="col-sm-9">
            <label for="Telefon"><b>Telefon</b></label>
            <input type="Telefon" id="Telefon" class="form-control" name="Telefons">
        </div>

        <p>Zapoznaj się z naszą polityką prywatności<a href="http://localhost:4200/RODO"> RODO</a>.</p>
        <button type="submit" class="registerbtn">Umów wizyte!</button>
    </div>


    <div class="container signin">
        <p>Masz juz konto? <a href="logowanie">Zaloguj się</a>.</p>
    </div>
</form>

