<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="how-section1">
    <div class="row">
        <div class="col-md-6">
            <h4>RODO.</h4>
        </div>
        <div class="col-md-6 how-img">
            <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid"
                 alt=""/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Get hired quickly</h4>
        </div>
        <div class="col-md-6 how-img">
            <img src="https://image.ibb.co/cHgKnU/Work_Section2_freelance_img2.png" class="rounded-circle img-fluid"
                 alt=""/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="https://image.ibb.co/ctSLu9/Work_Section2_freelance_img3.png" class="rounded-circle img-fluid"
                 alt=""/>
        </div>
        <div class="col-md-6">
            <h4>Work efficiently, effectively.</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4>Darmowa rejestracja oraz fachowa opieka lekarza.</h4>
        </div>
        <div class="col-md-6 how-img">
            <img src="https://image.ibb.co/gQ9iE9/Work_Section2_freelance_img4.png" class="rounded-circle img-fluid"
                 alt=""/>
        </div>
    </div>
</div>
