<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Wyszukaj swojego lekarza">
            <a [routerLink]="['/wyniki-wyszukiwania']" [queryParams]="{searchBy: 'mila'}" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col col-xs-12">
            <div class="blog-grids">
                <div class="grid">
                    <div class="entry-media">
                        <img src="" alt="">
                    </div>
                    <div class="entry-body">
                        <h3><a target="_blank">Znajdz swojego specjaliste</a></h3>
                        <p>MALY OPIS O LEKARZACH jakiesm info jakies info</p>
                        <div class="read-more-date">
                            <a href="TUTAJ PRZEKIEROWANIE DO WYSZUKANIA LEKARZY" target="_blank">> Kliknij by wyszukać</a>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="entry-media">
                        <img src="" alt="">
                    </div>
                    <div class="entry-body">
                        <h3><a target="_blank">Dowiedz się o nas wiecej!</a></h3>
                        <p>TUTAJ MOZNA DAC JAKIS OPIS NASZEJ INSTUTYCJI</p>
                        <div class="read-more-date">
                            <a href="" target="_blank">> Więcej informacji</a>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="entry-media">
                        <img src="" alt="">
                    </div>
                    <div class="entry-body">
                        <h3><a target="_blank">TUTAJ JAKIES INFO?</a></h3>
                        <p>TUTAJ MOZNA DAC JAKIS OPIC CZEGOS NO O SPISIE LEKARZY</p>
                        <div class="read-more-date">
                            <a href="" target="_blank">> Czytaj wiecej</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
